/* ESTILO GERAL */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #05070c;
  color: white;
}

/* TÍTULO */
.titulo {
  font-size: 34px;
  color: #00eaff;
  margin: 20px;
}

/* BOTÃO NEON */
.btn-neon {
  background: #0b0f16;
  border: 2px solid #00eaff;
  padding: 12px 18px;
  font-size: 16px;
  color: #00eaff;
  border-radius: 8px;
  cursor: pointer;
  margin: 20px;
  transition: 0.3s;
}

.btn-neon:hover {
  background: #00eaff;
  color: #000;
  box-shadow: 0 0 18px #00eaff;
}

/* BUSCA */
.area-busca {
  margin: 10px 20px 20px 20px;
}

.input-busca {
  width: 100%;
  padding: 12px;
  background: #020617;
  border: 2px solid #00eaff;
  border-radius: 12px;
  color: #00eaff;
  font-size: 16px;
  outline: none;
  transition: 0.3s;
}

.input-busca:focus {
  box-shadow: 0 0 15px #00eaff;
}

/* LISTA DE CLIENTES */
.lista-clientes {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin: 0 20px 30px 20px;
}

/* ITEM DO CLIENTE */
.item-cliente {
  padding: 18px;
  background: #0b0f16;
  border: 2px solid #00eaff;
  border-radius: 14px;
  cursor: pointer;
  transition: 0.25s;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-cliente:hover {
  background: #00eaff;
  color: #000;
  box-shadow: 0 0 25px #00eaff;
}

/* TEXTO DO CLIENTe */
.item-info {
  font-size: 16px;
}

/* ÍCONE FUTURISTA */
.icone-cliente {
  margin-right: 10px;
  font-size: 22px;
  color: #00eaff;
}

/* BOTÃO ABRIR */
.btn-abrir {
  padding: 10px 16px;
  border: 2px solid #00eaff;
  color: #00eaff;
  border-radius: 8px;
  background: transparent;
  font-weight: bold;
  transition: 0.3s;
}

.item-cliente:hover .btn-abrir {
  background: #000;
  color: #00eaff;
  border-color: #000;
}

/* VOLTAR */
.btn-voltar {
  display: inline-block;
  margin: 30px 20px;
  background: #0b0f16;
  border: 2px solid #00eaff;
  padding: 12px 16px;
  border-radius: 10px;
  color: #00eaff;
  text-decoration: none;
  transition: 0.3s;
}

.btn-voltar:hover {
  background: #00eaff;
  color: #000;
  box-shadow: 0 0 12px #00eaff;
}
