body {
  background: #0f172a;
  color: #e5e7eb;
  font-family: Arial;
  margin: 0;
  padding: 0;
}

h2 {
  text-align: center;
  color: #38bdf8;
  margin-top: 20px;
}

.container {
  max-width: 900px;
  margin: 20px auto;
  background: #1e293b;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
}

/* Abas */
.tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.tab {
  flex: 1;
  padding: 12px;
  background: #334155;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  font-weight: bold;
  color: #e5e7eb;
}

.tab.active {
  background: #38bdf8;
  color: #000;
}

/* Conteúdo das abas */
.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

/* Formulário */
label {
  display: block;
  margin-top: 12px;
  font-weight: bold;
}

input, select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  background: #0f172a;
  border: 1px solid #475569;
  color: white;
  border-radius: 6px;
}

/* Botões */
.btns {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.btns button {
  flex: 1;
  padding: 12px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 8px;
}

.btns button:first-child {
  background: #38bdf8;
  color: #000;
}

.btns button:last-child {
  background: #475569;
}

/* TABELA */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th {
  text-align: left;
  padding: 12px;
  background: #334155;
}

td {
  padding: 10px;
  border-bottom: 1px solid #334155;
}
